<!DOCTYPE html>
<html lang="pt-BR">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Novos Ares - Promoções Solteiros</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" href="./Pagina_promo-solt.css">
</head>

<body>
	<section class="backg_principal">



		<!-- Inicio da navbar -->
		<header class="container-fluid">

			<nav class="navbar navbar-expand-lg bg-dark rounded-1 fixed-top">
				<div class="container-fluid ">
					<a class="navbar-brand border-end " href="#"><img
						class="img-fluid" src="./imagens usadas/Logo.png"
						style="height: 95px; width: 100%;" alt="" srcset=""> <br>

					</a>

					<button class="navbar-toggler navbar-dark" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse align-content-end"
						id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link active efeito"
								aria-current="page"
								href="../Pagina principal/Página inicial.html">Home</a></li>
							<li class="nav-item"><a class="nav-link efeito"
								href="../Paginade destinos/Destinos.html">Destinos</a></li>
							<li class="nav-item dropdown "><a
								class="nav-link dropdown-toggle efeito " href="#"
								id="navbarDropdown" role="button" data-bs-toggle="dropdown"
								aria-expanded="false"> Promoções </a>
								<ul class="dropdown-menu bg-dark"
									aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item efeito "
										href="../Pagina_promo_casal/Paginacasais.html">Para Casais</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item efeito"
										href="../Pagina_promo_familia/Paginafamilia.html">Para
											Famílias</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item efeito"
										href="../Pagina_promo_solteiros/Pagina_promo_solt.html">Para
											Solteiros</a></li>
								</ul></li>
							<li class="nav-item"><a class="nav-link efeito"
								href="../Pagina de contato/Pagina_contato.html" tabindex="-1"
								aria-disabled="true">Contato</a></li>
						</ul>
						<form class="d-flex">
							<input class="form-control me-4 w-75" type="search"
								placeholder="Procurar no site" aria-label="Procurar">
							<button class="btn btn-outline-success btn-sm m-1" type="submit">Buscar</button>
						</form>
					</div>
				</div>
			</nav>

			<div style="height: 130px;"></div>
		</header>
		<!-- Fim da Navbar -->



		<!-- Inicio Parte principal com lista de destinos -->
		<main class=" container p-3 rounded-1 bg-gradient backg_secundario ">


			<h3 class="text-center ">
				Promoções para solteiros
				<hr>
			</h3>

			<div class="container-fluid imag mt-2"
				style="height: 100%; width: 100%;">

				<div class="row justify-content-around  mt-3">



					<div
						class="col-lg-3 col-md-4 col-sm-8 mt-lg-3 mt-md-3 mt-sm-3 mt-3">
						<div class="card" style="width: 100%; height: 100%;">
							<img src="imagens usadas/coimbra.jpg" class="card-img-top"
								alt="...">
							<div class="card-body">
								<h5 class="card-title">Coimbra</h5>
								<u><b> <h7 class=" mb-2 ">Portugual</h7>
								</b></u><br>
								<div class="my-2">
									<b><small> Hotél+Aéreo+Transfer </small></b> <br> <small
										class="rounded-2 p-1"
										style="background-color: black; color: orange;"> 10
										dias e 9 noites</small>
								</div>
								<br> <s> <b>
										<p class="card-text text-danger">De: R$8.300</p>
								</b></s> <b>
									<p class="card-text text-success text-center">Por: R$6.900
									</p>
								</b>
							</div>
						</div>

					</div>

					<div
						class="col-lg-3 col-md-4 col-sm-8 mt-lg-3 mt-md-3 mt-sm-3 mt-3">
						<div class="card" style="width: 100%; height: 100%;">
							<img src="imagens usadas/cusco.jpg" class="card-img-top"
								alt="...">
							<div class="card-body">
								<h5 class="card-title">Cusco</h5>
								<u><b> <h7 class=" mb-2 ">Peru</h7>
								</b></u><br>
								<div class="my-2">
									<b><small> Hotél+Aéreo+Transfer </small></b> <br> <small
										class="rounded-2 p-1"
										style="background-color: black; color: orange;"> 5
										dias e 4 noites</small>
								</div>
								<br> <s> <b>
										<p class="card-text text-danger">De: R$5.300</p>
								</b></s> <b>
									<p class="card-text text-success text-center">Por: R$4.400
									</p>
								</b>
							</div>
						</div>

					</div>
					<div
						class="col-lg-3 col-md-4 col-sm-8 mt-lg-3 mt-md-3 mt-sm-3 mt-3">
						<div class="card" style="width: 20; height: 100%;">
							<img
								src="imagens usadas/Copy-of-CMRobinson-55_edited-1-scaled.jpg"
								class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Ibiza</h5>
								<u><b> <h7 class=" mb-2 ">Espanha</h7>
								</b></u><br>

								<div class="my-2">
									<b><small> Hotél+Aéreo </small></b> <br> <small
										class="rounded-2 p-1"
										style="background-color: black; color: orange;"> 4
										dias e 5 noites</small>
								</div>
								<br> <s> <b>
										<p class="card-text text-danger">De: R$7.300</p>
								</b></s> <b>
									<p class="card-text text-success text-center">Por: R$5.000
									</p>
								</b>
							</div>
						</div>

					</div>



				</div>
				<div class="row justify-content-around mt-3">



					<div
						class="col-lg-3 col-md-4 col-sm-8 mt-lg-1 mt-md-0 mt-sm-0 mb-3">
						<div class="card" style="width: 100%; height: 100%;">
							<img src="./imagens usadas/belem-do-para.webp"
								class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Belém</h5>
								<u><b> <h7 class=" mb-2 ">Pará</h7>
								</b></u><br>
								<div class="my-2">
									<b><small> Hotél+Aéreo </small></b> <br> <small
										class="rounded-2 p-1"
										style="background-color: black; color: orange;"> 7
										dias e 8 noites</small>
								</div>
								<br> <s> <b>
										<p class="card-text text-danger">De: R$2.500</p>
								</b></s> <b>
									<p class="card-text text-success text-center">Por: R$2.000
									</p>
								</b>
							</div>
						</div>

					</div>

					<div
						class="col-lg-3 col-md-4 col-sm-8 mt-lg-1 mt-md-0 mt-sm-0 mb-3">
						<div class="card" style="width: 100%; height: 100%;">
							<img src="imagens usadas/99.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Ajaccio</h5>
								<u><b> <h7 class=" mb-2 ">França</h7>
								</b></u><br>
								<div class="my-2">
									<b><small> Hotél+Aéreo </small></b> <br> <small
										class="rounded-2 p-1"
										style="background-color: black; color: orange;"> 6
										dias e 5 noites</small>
								</div>
								<br> <s> <b>
										<p class="card-text text-danger">De: R$8.000</p>
								</b></s> <b>
									<p class="card-text text-success text-center">Por: R$5.600
									</p>
								</b>
							</div>
						</div>

					</div>
					<div
						class="col-lg-3 col-md-4 col-sm-8 mt-lg-1 mt-md-0 mt-sm-0 mb-3">
						<div class="card" style="width: 100%; height: 100%;">
							<img src="imagens usadas/orla bc nova.webp" class="card-img-top"
								alt="...">
							<div class="card-body">
								<h5 class="card-title">Balneário Camboriú</h5>
								<u><b> <h7 class=" mb-2 ">Santa Catarina</h7>
								</b></u><br>
								<div class="my-2">
									<b><small> Hotél+Aéreo </small></b> <br> <small
										class="rounded-2 p-1"
										style="background-color: black; color: orange;"> 7
										dias e 6 noites</small>
								</div>
								<br> <s> <b>
										<p class="card-text text-danger">De: R$3.300</p>
								</b></s> <b>
									<p class="card-text text-success text-center">Por: R$2.800
									</p>
								</b>
								</p>
							</div>
						</div>

					</div>
				</div>

			</div>




		</main>
		<!-- Fim da parte principal com lista de destinos -->









		<!-- Inicio da parte de serviços -->
		<div class=" pb-5 "
			style="height: auto; width: 100%; background-color: black;">
			<hr style="color: orange;">
			<h3 class="mx-2 bg-gradient py-0" style="color: orange;">Serviços</h3>

			<div
				class="row text-center justify-content-around align-items-center ">

				<div class="col-3 " style="background-color: black;">

					<img src="imagens usadas/Seguro viagem.png"
						class="img-fluid divserv" style="height: 50%; width: 50%;" alt=""
						srcset="">
					<h6 style="color: orange;">Seguro Viagem</h6>

				</div>
				<div class="col-3  " style="background-color: black;">
					<img src="imagens usadas/Cambio.png" class="img-fluid divserv"
						style="height: 50%; width: 50%;" alt="" srcset="">
					<h6 style="color: orange;">Câmbio</h6>

				</div>
				<div class="col-3  " style="background-color: black;">
					<img src="imagens usadas/Assesoria em vistos.png"
						class="img-fluid divserv" style="height: 50%; width: 50%;" alt=""
						srcset="">
					<h6 style="color: orange;">Assesoria em Vistos</h6>

				</div>

			</div>

		</div>
		<!-- Fim da parte de serviços -->








		<!-- Inicio do Roda pé do site -->
		<Footer class="bg-dark">

			<div class="row justify-content-around justify-content-sm-around "
				style="height: 20%; width: 100%;">
				<div class="col-6 col-md-6 col-sm-12 ">
					<h4 class="text-center mt-1" align="center">Siga-nos!</h4>
					<br>

					<div class="row justify-content-center  ">
						<div class="col-3  ">
							<a href="#"><img
								src="../Pagina de contato/Imagens_usadas/LogoFacebook.png"
								class="img-fluid" style="max-height: 40px; max-width: 55px;"
								alt="" srcset=""></a>
						</div>
						<div class="col-3 ">

							<a href="#"><img
								src="../Pagina de contato/Imagens_usadas/kisspng-instagram-.png"
								class="img-fluid" style="max-height: 50px; max-width: 75px;"
								alt="" srcset=""></a>
						</div>
						<div class="col-3 ">
							<a href="#"><img
								src="../Pagina de contato/Imagens_usadas/twitter.png"
								class="img-fluid" style="max-height: 50px; max-width: 75px;"
								alt="" srcset=""></a>
						</div>
					</div>

				</div>
				<div class="col-lg-6 col-md-6 col-sm-12  ">


					<div class="row  ">
						<h4 class=" mt-1 text-center">Formas de pagamento</h4>
						<div class="col-lg-2 col-md-1 col-sm-2"></div>
						<div class="col-lg-8 col-md-10 col-sm-8  ">

							<figure>
								<img src="../Pagina de contato/Imagens_usadas/Sem Título-1.webp"
									style="max-height: 200px; max-width: 100%;" alt="">
							</figure>
						</div>
						<div class="col-lg-2 col-md-1 col-sm-2 "></div>
					</div>




				</div>



			</div>



		</Footer>

		<!-- Final do roda pé do site -->



	</section>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>

</html>